<div>
    <div>
        <p>ImpairBit team has developed a framework which helps in building a Web application under java platform with all the required features like efficient development, vulnerable security, Unit testing. This framework enables the ImpairBit team to develop the application in well-structured manner and save the team’s time in working on the unnecessary coding issues.</p>
        <p>ImpairBit has also build a web service in SOAP technology, which enables the Mobile application team of ImpairBit to consume the service and build the Hybrid applications.</p>
        <p>ImpairBit using the above framework has involved in the process of building an application which helps to serve the institution and other members associated with it.</p>
        <p>ImpairBit has also built an application which serves tutor find the part time Job and enables students request for a tutor. The application is also under the development in the process to enable students get their required course material, which will be not of books what they study. Instead it will be the solved content which is easily understandable to the student prepared by the teachers who are proficient in the respective subjects.</p>
    </div>
</div>