/*Saffron: (RGB: 255, 153, 51) (hex code: #FF9933)
White: (RGB: 255, 255, 255) (hex code: #FFFFFF)
Green: (RGB: 19, 136, 8) (hex code: #138808)
Blue: (RGB: 0, 0, 128) (hex code: #000080)*/

body{
    background: #2c3e50;
}
